@font-face {
	font-family: 'Inter';
	src: url('/fonts/Inter-VariableFont_slnt,wght.ttf');
}

html,
body {
	@apply h-full overflow-hidden;
}

.table tbody td {
	/* NOTE: removed this to allow wrapping */
	@apply p-4;
}
